.red{
  color: crimson;
}
.bold{
  font-weight: bold;
}

.Cockpit button{
  background-color: seagreen;
  color: #fff;
  font: inherit;
  border: 1px solid goldenrod;
  box-shadow: 0 0 3px 1px goldenrod;
  padding: 0.5rem;
  cursor: pointer;
}
.Cockpit button:hover{
  background-color: lightgreen;
  color: beige;
}
.Cockpit button.Red{
  background-color: crimson;
  color: #fff;
}
.Cockpit button.Red:hover{
  background-color: salmon;
  color: beige;
}